
/* start table */


.table-wrap {
    overflow-x: scroll;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px 10px 0px 0px;
    margin: 16px;
}

.table {
    margin-bottom: 1rem;
    color: #212529; 
   border-collapse: collapse;
   min-width: 1000px !important;
   width: 100%;
   -webkit-box-shadow: 0 5px 12px -12px rgba(0, 0, 0, 0.29);
   -moz-box-shadow: 0 5px 12px -12px rgba(0, 0, 0, 0.29);
   box-shadow: 0 5px 12px -12px rgba(0, 0, 0, 0.29);

}
.table th {
    text-align: inherit;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border: none;
    padding: 30px;
    font-size: 13px;
    font-weight: 500;
    color: gray;
    font-weight: bold;
    font-size: 15px;
}

@media(max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}


.table .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


.table button {
  padding: 10px;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: .8;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  cursor: pointer;

}
.table button.delete {
color: #dc3545;
}
.table button.edit {
color: #23bd5a;
}
.table button.download {
color: #3591dc;
}

.table .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.table .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.table .pl-3 {
    padding-left: 1rem !important;
}


.table .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.table thead tr {
    background: #fff;
    border-bottom: 4px solid #eceffa;
    line-height: 0px;
}
.table tbody tr {
    margin-bottom: 10px;
    border-bottom: 4px solid #f8f9fd;
}
.table tbody tr:last-child {
    border-bottom: 0;
}

.multy span {
    text-align: center;
}
.multy span {
    padding: 2px;
    display: block;
}

.multy span:nth-child(2) {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
    color: rgb(100 87 87);
}

.table tbody td {
    border: none;
    padding: 7px;
    font-size: 14px;
    background: #fff;
    vertical-align: middle;
}
.table tbody td.status span {
    position: relative;
    border-radius: 30px;
    padding: 4px 10px 4px 25px;
}
.table tbody td.status span:after {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
}
.table tbody td.status .active {
    background: #cff6dd;
    color: #1fa750;
}
.table tbody td.status .active:after {
    background: #23bd5a;
}
.table tbody td.status .waiting {
    background: #fdf5dd;
    color: #cfa00c;
}
.table tbody td.status .waiting:after {
    background: #f2be1d;
}
.table tbody td .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.table tbody td .email span {
    display: block;
}
.table tbody td .email span:last-child {
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}




/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1cece;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* end table */


.cardbox {
    position: relative;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3 , minmax(100px , 1fr));
    grid-gap: 26px;
    margin-top: 15px;
    
}

.cardbox .card {
    position: relative;
    background-color: #fff;
    padding: 30px 50px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.cardbox .card:hover {
    background-color: #2ac4ea;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@media all and (max-width: 600px) {
    .cardbox {
        width: 100%;
    }
.cardbox .card .icon {
    font-size: 1.5em !important;
    color: black;
}
.cardbox .card {
    padding: 20px 20px !important;
}
}

.cardbox .card:hover span,
.cardbox .card:hover p,
.cardbox .card:hover .icon {
    color: white;
}

.cardbox .card span {
    position: relative;
    font-weight: 500;
    color: black;
    font-size: 2.5em;
}
.cardbox .card p {
    color: black;
    font-size: 1.1em;
    margin-top: 5px;
}

.cardbox .card .icon {
    font-size: 3.5em;
    color: black;

}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    float: right;
    margin-right: 16px;
}

.pagination .mb-0 {
    margin-bottom: 0!important;
}

.pagination .justify-content-end {
    justify-content: flex-end!important;
}

.pagination .page-item {
  margin: 2px;
}

.pagination .page-item:not(:first-child) .page-link {
    margin-left: 0;
}

.pagination .page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.pagination .page-link, .page-link:hover {
    color: #212529;
}
.pagination .page-link {
    font-size: .9rem;
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: all .3s linear;
    border-radius: 0.25rem;
}
.pagination .page-link {
    padding: 0.375rem 0.75rem;
}
.pagination .page-link {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.pagination .page-link:hover {
    background-color: #2196f3;
    color: #fff;
}

.pagination .page-link.active {
    background-color: #2196f3;
    color: #fff;
}


@media(max-width : 991px) {

.cardbox {
    padding: 10px;
    grid-gap: 20px;
}
.cardbox .card {
    padding: 20px 30px;
    box-shadow: 0 7px 20px rgba((0, 0, 0, 8), green, blue, alpha);
    border-radius: 16px;

}

  .cardbox .card span {
      font-weight: 400;
      font-size: 2em;
  }
  .cardbox .card p {
      font-size: 1em;
      margin-top: 5px;
  }

  .cardbox .card .icon {
      font-size: 3em;

  }

/* .pagination {
    padding: 5px 10px 20px 0;
}

.pagination ul li a {
    padding: 0.5em 0.75rem;
    margin: 0.25em;
}
 */


}


@media(max-width : 480px) {
 
  .cardbox { 
    padding: 8px;
    grid-gap: 10px;   
    display: block;

    }
.cardbox .card {
    padding: 10px 20px;
    box-shadow: 0 3px 10px rgba((0, 0, 0, 8), green, blue, alpha);
    border-radius: 10px;
    margin-bottom: 10px;

}

  .cardbox .card span {
      font-weight: 300;
      font-size: 1em;
  }
  .cardbox .card p {
      font-size: 0.7em;
      margin-top: 3px;
  }

  .cardbox .card .icon {
      font-size: 1.5em;

  }

  
  /* .pagination {
    padding: 2px 10px 20px 0;
}

.pagination ul li a {
    padding: 0.3em 0.5rem;
    margin: 0.2em;
} */


}

.export-data{
 text-align: left;
 margin-left: 10px;
 margin-top: 10px;
}

.export-data  button{
    background-color: #2c9162;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 10px 0 #ccc;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin-bottom: 10px;
}

.export-data  button:hover{
    background-color: #198754;
}

.export-data  button:last-of-type{
    margin-left: 5px;
    background-color: #2196f3;
}

.export-data  button:last-of-type:hover{
    background-color: #0b8bf3;
}


@media(max-width : 991px) {
  
  .cardbox {
      padding: 10px;
      grid-gap: 20px;
  }
  .cardbox .card {
      padding: 20px 30px;
      box-shadow: 0 7px 20px rgba((0, 0, 0, 8), green, blue, alpha);
      border-radius: 16px;
  
  }
  
    .cardbox .card span {
        font-weight: 400;
        font-size: 2em;
    }
    .cardbox .card p {
        font-size: 1em;
        margin-top: 5px;
    }
  
    .cardbox .card .icon {
        font-size: 3em;
  
    }
  
  
  
  
  }
  
  
  @media(max-width : 480px) {
    .cardbox {
      padding: 8px;
      grid-gap: 10px;
  }
  .cardbox .card {
      padding: 10px 20px;
      box-shadow: 0 3px 10px rgba((0, 0, 0, 8), green, blue, alpha);
      border-radius: 10px;
  
  }
  
    .cardbox .card span {
        font-weight: 300;
        font-size: 1em;
    }
    .cardbox .card p {
        font-size: 0.7em;
        margin-top: 3px;
    }
  
    .cardbox .card .icon {
        font-size: 1.5em;
  
    }
  
}